@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&family=Noto+Serif+Thai&family=Sarabun:ital,wght@0,400;0,700;1,400&display=swap');



h1 {
  font-family: 'Sarabun', serif;
  color: steelblue;
}
p {
  font-family: 'Sarabun', serif;
  font-size: 16pt;
  color: black;
  font-weight: normal;
}