/* custom.css */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');





body {
  font-family: 'Sarabun', sans-serif; /* ตัวอย่างการตั้งค่าฟอนต์เป็น Arial */
  line-height: 1.6em; /* ตั้งค่า line height เป็น 1.6 */

}

p {
  font-family: 'Sarabun', sans-serif; /* ตัวอย่างการตั้งค่าฟอนต์เป็น Arial */
  line-height: 1.6em;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sarabun', serif; /* ตัวอย่างการตั้งค่าฟอนต์หัวข้อเป็น Georgia */
  color: steelblue
}


ol, ul {
  font-family: 'Sarabun', sans-serif; /* ตัวอย่างการตั้งค่าฟอนต์เป็น Arial */
}

.reveal .custom-title {
  position: absolute;
  color: #00589b;
  font-size: 3em;
  text-align: right;
  right: 20px;
  top: -200px;
}




.reveal .slide-logo {
  height: 100px !important;
  width: 130px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal {
  margin: 10px; /* สามารถปรับตัวเลขนี้เพื่อเพิ่มหรือลดขนาดของขอบ */
}