@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&family=Noto+Serif+Thai&family=Sarabun:ital,wght@0,400;0,700;1,400&display=swap');

/*-- scss:defaults --*/

$body-bg: white;
$body-color: #4e3629;
$link-color: orange;
$presentation-heading-color: maroon;
$code-color: #cc0000;
$code-block-bg: #ded9ca;
$code-block-border-color: #000000;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 0.5em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

.p {
  font-family: 'Sarabun', serif;

}

.h1 {
  font-family: 'Sarabun', serif;
  color: steelblue;
}

.h2 {
  font-family: 'Sarabun', serif;
  color: steelblue;
}

.h3 {
  font-family: 'Sarabun', serif;
  color: steelblue;
}