/* custom.css */


.reveal .caption {
  color: #C5705D;
  text-align: center;
  font-size: 0.5em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
  margin-top: -1em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
}

.reveal .caption2 {
  text-align: left;
  color: #C5705D;
  font-size: 0.5em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
  margin-top: -1em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
}

.reveal .caption3 {
    color: #C5705D;
    text-align: right;
    font-size: 0.5em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
    margin-top: 0.1em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
  }
  
.reveal::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    background: url('img/logo1.png') no-repeat center center;
    background-size: contain;
    opacity: 0.05; /* ปรับค่าความโปร่งใส */
    transform: translate(-50%, -50%);
    z-index: -1; /* ทำให้ลายน้ำอยู่ด้านหลังเนื้อหา */
}
