/* custom.css */


.reveal .caption {
  text-align: center;
  color: #C5705D;
  font-size: 0.9em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
  margin-top: 2em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
}

.reveal .caption2 {
  text-align: left;
  color: #C5705D;
  font-size: 0.5em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
  margin-top: -2em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
  margin-left: 10em;
}

.reveal .caption3 {
    text-align: right;
    color: #C5705D;
    font-size: 0.4em; /* ปรับขนาดฟอนต์ถ้าต้องการ */
    margin-top: -0.2em; /* ปรับระยะห่างจากรูปถ้าต้องการ */
    margin-left: 3em;
  }

